@import './colors';

//Images
.fixed-image {
  height: 200px; 
  object-fit: cover;  
  width: 100%;
  vertical-align: middle;
}

//Form Controls Focus Bootstrap Override
.form-control.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: $primary;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(4, 48, 16, 0.25);
}

//Text
.description {
  display: -webkit-box;
  -line-clamp: 3;        
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 4.5em;
}

//Input
input {
  padding: 10px;
  font-size: 1rem;
}

small {
  color: #c0392b;
}

.error {
  color: red;
}



//Buttons
.btn.btn-my-primary {
  background-color: $secondary;
  border-color: $primary;
  color: white;    
}

.btn.btn-my-primary:hover {
  background-color: $primary;
  border-color: $primary;
  color: white;    
}


.hover-btn .btn-text {
  opacity: 0;
  max-width: 0;
  overflow: hidden;
  white-space: nowrap;
  transition: all 0.2s ease;
}

.hover-btn:hover .btn-text {
  opacity: 1;
  max-width: 300px;
}



