@import './colors';

//Text
.description {
  display: -webkit-box;
  -line-clamp: 3;        
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 4.5em;
}

.btn-bd-primary {
  --bs-btn-font-weight: 600;
  --bs-btn-bg: $primary;
  --bs-btn-border-color: var($primary);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #{shade-color($primary, 10%)};
  --bs-btn-hover-border-color: #{shade-color($primary, 10%)};
  --bs-btn-active-bg: #{shade-color($primary, 20%)};
  --bs-btn-active-border-color: #{shade-color($primary, 20%)};
}